
ul#ticker {
	width: 1200px;
	height: 95px;
	overflow: hidden;
	background-image:url(../images/yelp.jpg);
	float:left;
	margin:0px;
	padding:0px;
	
}
ul#ticker li {
	width: 750px;
	height: 95px;
	padding: 10px;
	font: 14px Tahoma;
	padding-left:230px;
	color:#ffffff;
	list-style-type:none;
		
}


ul#ticker li span {
	display: block;
	color: #ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-top:10px;
	
	
	
}
#about
{
float:left;
width:1200px;
height:791px;
margin:0px;
padding:0px;
background-image:url(../images/about.jpg);
}
#about_menu
{
float:left;
width:1200px;
height:87px;
margin:0px;
padding:0px;
background-image:url(../images/about_menu.jpg);
}
.about_menu
{
float:left;
width:1000px;
height:40px;
margin-top:20px;
font-family:'Droid Serif',myriad pro,verdana;
font-size:15px;
font-weight:700px;
color:#FFFFFF;
padding-left:220px;
position:absolute;

}
.first 
{
width:150px;
display:block;
cursor:pointer;
text-align:center;
font-size:16px;
float:left;
}
.second
{
width:130px;
display:block;
cursor:pointer;
text-align:center;
font-size:16px;
float:left;
margin-left:80px;
}
.third
{
width:100px;
display:block;
cursor:pointer;
text-align:center;
font-size:16px;
float:left;
margin-left:100px;
}
.fourth
{
width:120px;
display:block;
cursor:pointer;
text-align:center;
font-size:16px;
float:left;
margin-left:85px;
}
#contact_img
{
z-index:-5000;
position:absolute;
}
#contact
{
float:left;
width:1200px;
height:782px;
margin:0px;
padding:0px;
background-image:url(../images/new_focus.jpg);
}
#map
{
float:left;
height:268px;
width:1012px;
margin-top:245px;
margin-left:188px;
}
.map1
{
float:left;
height:268px;
width:368px;
margin-left:10px;
margin-top:10px;
}
.map2
{
float:left;
height:268px;
width:400px;
margin-left:40px;
color:#FFFFFF;
font-family:'Droid Serif',myriad pro,verdana;
font-size:14px;
}

#consult
{
float:left;
width:1200px;
height:192px;
margin:0px;
padding:0px;

}
#consultation
{
float:left;
width:1200px;
height:50px;
margin-top:20px;
}
#consult_img
{
z-index:-5000;
position:absolute;
}
#bottom_part
{
float:left;
width:1200px;
height:100px;
}
.bottom_part1
{
float:left;
width:300px;
height:60px;
margin-top:40px;
}
.bottom_part1 img
{
margin-left:25px;
}
.bottom_part2
{
float:right;
width:500px;
height:30px;
color:#FFFFFF;
font-family:'Droid Serif',myriad pro,verdana;
font-size:14px;
padding-top:70px;
}
.zit
{
    position:relative;
    width:338px;
    height:268px;
    left:0px;
    top:0px;
    border:1px solid black;
    transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -webkit-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -o-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
    -moz-transition: width 0.3s ease,height 0.3s ease,left 0.3s ease,top 0.3s ease;
}

.zit:hover
{
    width:500px;
    height:396px;
    left:-25px;
    top:-25px;
    z-index:9999;
}

.ZoomIt ul
{
    clear:left;
}
.ZoomIt li
{
    width:338px;
    height:268px;
	float: left; 
	overflow:visible;
	display: block; 
}